@page "/"

<h1>RDLC Reportes con Sub e Imagenes in Blazor</h1>

<a class="btn btn-success" href="http://localhost:35287/api/Empleado/PdfReport" target="_blank">PDF</a>
<a class="btn btn-success" href="http://localhost:35287/api/Empleado/ExcelReport" target="_blank">Excel</a>
<a class="btn btn-success" href="http://localhost:35287/api/Empleado/HtmlReport" target="_blank">HTML</a>
<a class="btn btn-success" href="http://localhost:35287/api/Empleado/DocXReport" target="_blank">DOC</a>
